.add-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.add-form-control-feedback {
  top: 0;
  right: 0;
  z-index: 2;
  text-align: center;
  pointer-events: none;
}

.has-danger .form-control {
  border-color: #d9534f;
}

.has-success .form-control {
  border-color: #5cb85c;
}
