<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <table>
    <tr>
      <td width="100px"><a routerLink="/domains" routerLinkActive="active">domains</a></td>
      <td width="100px"><a routerLink="/domains/add" routerLinkActive="active">add</a></td>
      <td width="100px"><a routerLink="/404" routerLinkActive="active">404</a></td>
    </tr>
  </table>
</nav>
<router-outlet></router-outlet>

